@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito+Sans&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
  overflow-y: scroll;


  
}

.App {
  text-align: center;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
}

button {
  border: 0px;
}


.recommendations {
  height: 20vh;
  width: 21.3vw;
  overflow-y: auto;
}

.hero_search_container {
  position: absolute;
  top: 50vh;
  left: 39vw;
}

.comics_search_container {
  position: absolute;
  top: 3vh;
  left: 39vw;
}

.hero_search_container,
.comics_search_container {
  position: absolute;
  top: 2vh;
  background-color: white;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  display: flex;
  width: 21vw;
  z-index: 2;
  flex-direction: column;
  align-items: center;
}

.hero_search,
.comics_search {
  width: 21vw;
}

.heroName,
.comicName {
  opacity: 0.5;
}

.heroName:hover,
.comicName:hover {
  opacity: 1;
}

.background-img {
  position: relative;
  height: 100vh;
  width: 100%;
}

.ReactModal__Content {
  width: 60vw;
  height: 80vh;
  display: flex;
  align-items: center;
  text-align: center;
}

.background-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../src/components/IMG/Comic.jpg") no-repeat center/cover;
  opacity: 0.2;
}

.toolbar {
  background-color: #ED1E23;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.toolbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.toolbar ul div {
  padding: 0 20px;
}

.toolbar ul div a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.ToolBar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.buttons {
  display: flex;
  align-items: center;
  margin-inline: 150px;
  position: absolute;
  left: 0px;
  top: 13px;
  justify-content: center;
}

.buttons div {
  margin-right: 100px;
}

.LogIn {
  width: 80px;
  height: 20px;
  position: absolute;
  top: 12px;
  right: 0px;
}

.log_manage {
  width: 100px;
  position: absolute;
  right: 2vw
}

.highlighted_click {
  color: blue;
  cursor: pointer;
}

.comic-list {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 10vh;
  height: 90vh;
  overflow: auto;

}

.heroCard {
  width: 60vw;
  height: inherit;
  overflow: auto;
}

.heroCard>div>img {
  width: 40vh
}

.heroCard>button {
  position: relative;
  left: 28vw;
  width: 30px;
  height: 30px;
}

.account-sheet {
  height: 50vh;
  width: 35vw;
  overflow: auto;
  border-radius: 25px;
  border: 2px solid black;
  box-shadow: 16px 16px 16px 16px black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("./components/IMG/marvel.jpg");
  background-size: cover;
  background-position: center;
}

.profile_panel {
  position: absolute;
  top: 50vh;
  left: 35vw;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  width: 30vw;
  height: 20vh;
}

.profile {
  position: absolute;
  right: 10vw;
}

.change-password-form {
  display: flex;
  flex-wrap: wrap;
}

.incorrect {
 border: red 1px solid  
}
.error-message {
  background-color: grey;
  border-radius: 20px;
  text-align: center;
  border-width: 2px;
  width: 20vw;
  margin-left: 7.5vw;
}

.stars {
  display: flex;
  justify-content: center;
  font-size: x-large;
}

.comment_container {
  padding: 20px;
}

.comment_user {
  font-size: medium;
}

.comment_top {
  display: flex;
}


.email_label,
.password_label,
.nick_label {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px;
  margin-right: -300px;
  float: left;
}

.email_label {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.password_label {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.nick_label {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.input {
  display: flex;
  align-items: center;
}

.email_input,
.password_input,
.nick_input {
  flex: 1;
  padding: 8px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  margin-bottom: 20px;
  background-color: rgb(62, 80, 214);
}

.email_input:focus,
.password_input:focus,
.nick_input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}


.login_button,
.registration_button,
.cancel {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 25px;
  margin-top: 60px;
  margin-right: 20px;
}

.login_button {
  background-color: green;
  color: white;
}

.registration_button {
  background-color: blue;
  color: white;
}

.cancel {
  background-color: red;
  color: white;
}


.comment_content {
  text-align: left;
  color: grey
}

.cart-image-nav {
  width:3vw; 
  height: 6vh;
  position: absolute;
  right: 50%;
  bottom:-100%;
  z-index: 1;
}

.cart-circle-nav {
  width: 1.2vw;
  line-height: 1.2vw;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  color: white;
  background-color:#222222;
  z-index: 2;
}

.cart-circle-nav-parent {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  position:relative;
}

