@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito+Sans&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
}

.App {
  text-align: center;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
}

button {
  border: 0px;
}

.recommendations {
  height: 20vh;
  width: 21.9vw;
  overflow-y: auto;
}

.hero_search_container {
  position: absolute;
  top: 50vh;
  left: 39vw;
}

.comics_search_container {
  position: absolute;
  top: 3vh;
  left: 39vw;
  z-index: 2;
}

.hero_search_container,
.comics_search_container {
  background-color: white;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  display: flex;
  width: 21.4vw;
  flex-direction: column;
  align-items: center;
}

.hero_search,
.comics_search {
  width: 21vw;
}

.heroName,
.comicName {
  opacity: 0.5;
}

.heroName:hover,
.comicName:hover {
  opacity: 1;
}

.background-img {
  position: relative;
  height: 100vh;
  width: 100%;
}

.ReactModal__Content {
  width: 60vw;
  height: 80vh;
  display: flex;
  align-items: center;
  text-align: center;
}

.background-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../src/components/IMG/Comic.jpg") no-repeat center/cover;
  opacity: 0.2;
}

.toolbar {
  background-color: #ED1E23;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.toolbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.toolbar ul div {
  padding: 0 20px;
}

.toolbar ul div a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.ToolBar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.buttons {
  display: flex;
  align-items: center;
  margin-inline: 150px;

  justify-content: center;
}

.buttons div {
  margin-right: 100px;
}

.LogIn {
  width: 500px;
  height: 600px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.highlighted_click {
  color: blue;
  cursor:pointer;
}

.comic-list {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  z-index: 1;
  top: 10vh;
  height: 90vh;
  overflow: auto;

}

.heroCard {
  width: 60vw;
  height: inherit;
  overflow: auto;
}

.heroCard>div>img {
  width: 40vh
}

.heroCard>button {
  position: relative;
  left: 28vw;
  width: 30px;
  height: 30px;
}

.account-sheet {
  height: 200px;
  width: 30vw;
  overflow: auto;
  background-color: beige;
  position: fixed;
  top: 30%;
  left: 35%;
  border-radius: 25px;
  border: 2px solid black
}

.email_label,
.input_label,
.password_label,
.nick_label {
  position: fixed;
  margin-left: -12vh;
  overflow: auto;
}

.profile_panel {
  position: absolute;
  top: 50vh;
  left: 45vw;
  width: 10vw
}

.stars {
  display: flex;
  justify-content: center;
  font-size: x-large;
}

.comment_container {
  padding: 20px;
}

.comment_user {
  font-size: medium;
}

.comment_top {
  display: flex;
}

.comment_content {
  text-align: left;
  color: grey
}