@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito+Sans&display=swap');
/* .comic-list-card {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #ce8888;
} */

.comic-list-card {
    display: flex;
    flex-wrap: wrap;
    width: 12vw;
    /* height: 40vh; */
    margin: 10px;
    /* min-width: 250px;
    min-height: 225px; */
}

.comic-list-image {
    width: 12vw;
    /* max-height: 190px; */
}

.comic-list-title {
    width: 12vw;
    font-family: 'Montserrat', sans-serif;
}

.comic-card-container {
    display: flex;
    width: 85vh;
    flex-direction: row;
}

.comic-image {
    width: 20vw;
    display: flex;
    float: left;
}

.comic-card {
    flex: auto;
}

.comic-title,
.comic-published,
.comic-cover-artist,
.comic-desc,
.comic-published-title,
.comic-cover-artist-title {
    display: flex;
    font-family: 'Nunito Sans', sans-serif;
    margin: 5%;
}

.comic-published-title, .comic-cover-artist-title {
    font-weight: bold;
}

.comic-desc {
    text-align: justify;
}

.close-comic-button {
    float: right;
}